.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Banner styling */

.Banner {
  position: static;
  width: 678px;
  height: 140px;
  left: 0px;
  top: 0px;
  background-color: #FFF1C7;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;
}

.Banner h3 {
  /* Compete with your friends this week! */

  position: absolute;
  height: 30px;
  left: 24px;
  right: 109px;
  top: 28px;

  /* Heading 3 (Bold) */
  font-family: Haboro Soft;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */

  /* Peach / 900 */
  color: #E47A00;
}
