.App {
  margin-top: 2%;
  background-color: #FAFBFF;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

/* Banner styling */

.banner {
  display: grid;
  width: 100%;
  height: 140px;
  left: 0px;
  top: 0px;
  background-color: #FFF1C7;
  flex: none;
  order: 0;
  justify-self: center;
  margin: 0px 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.banner h3 {
  position: relative;
  left: 2%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #E47A00;
}

.reset {
  background-color: #FFB561;
  position: relative;
  width: 180px;
  height: 40px;
  bottom: 30%;
  display: flex;
  justify-content: left;
}
.reset:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.reset:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 15px 20px 0;
  border-color: transparent #FFF1C7 transparent transparent;
  position: absolute;
  right: 0;
  top: 0;
}

.reset h4 {
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.reset-text {
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 5px;
  font-weight: bold;
}

.reset-time {
  font-size: 18px;
  color: #E47A00;
  font-weight: 500;
  line-height: 2em;
}

/* Leaderboard styling */

.leaderboard {
  position: absolute;
  width: 60%;
  justify-self: center;
  align-self: center;
  min-height: auto;
  border: 1px solid #DBE2F3;
  box-shadow: 0px 2px 0px #DBE2F3;
  border-radius: 8px;
}

.error-msg, .loading-msg {
  margin-left: 20px;
  font-size: 16px;
}

/* Row styling */

.row{
  position: relative;
  display: grid;
  grid-template-columns: 10% 60% 30%;
  max-height: 70px;
  border-bottom: 1px solid #DBE2F3;
}

.row h4 {
  display: inline;
}

.row .index {
  color: #A9B5CC;
  text-align: center;
  font-size: 16px;
}

.row .name {
  text-align: left;
  font-size: 16px;
}

.row .points {
  text-align: right;
  color: #FFC71E;
  font-size: 14px;
  margin-right: 20px;
  line-height: 2em;
}

/* Responsive design */

@media screen and (max-width: 500px){
  .leaderboard {
    width: 80%;
  }

  .banner-title {
    margin-left: 10px;
    margin-right: 10px;
  }

  .banner {
    height: 160px;
  }
}
